<div class='container mt-5'>
  <% @restaurants.each do |restaurant| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h2><%= restaurant.name %></h2>
      </div>
    </div>
  <% end %>
</div>
