<div class='container mt-5'>
  <div class='row justify-content-center'>
    <div class='col-6'>
      <h1 class='text-center mb-4 text-secondary'>Create a new Restaurant</h1>
      <%= render 'form', restaurant: @restaurant%>
    </div>
  </div>
</div>
